* {
    padding:0px;
    margin:0px;
}

.principal-section {
    height:730px;
    background-image: url("../img/bg_man_sea.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
}